
.card-container{
    /* width : 230px;
    height: 260px;
    overFlow: hidden;
    border-radius: 10px; */
    /* width: calc(20% - 16px); */
    margin: 8px;
    height: auto;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    overFlow : hidden;
    border:0px;
    text-align: left;

}
.card-container:hover{
    transform:scale(1,1);
    /* box-shadow: 0px 0px 3px 0px; */
 }
.card-container img{
   overflow: hidden;
   height:auto;
   width : 100%;
   border-radius: 5px;
   
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

h3{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color : #454648
}
p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color : #ccc;
}
.card-title{
    margin-bottom:0.5rem;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
  
}
a{
    color: #222222;
    font-weight: bold;


}