.videoGrid{
  /* display: flex;
  flex-direction: column;
  min-height: 800px;
  min-width: 800px;
  text-align: left;
  align-items: center; */
  display: flex;
  position: relative;
  float: left;
  box-sizing: border-box;
  /* border: 1px solid rgba(0,0,0,0.4); */
  justify-content: center;
  background-color: black;
  margin: 5px;
  text-align: center;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

video {
  /* max-width: 100%;
  width: 320px; */
  display: flex;
  position: relative;
  width: 100%;
  height: 95%; 
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.displaysWrap {
  background-color: #666666;
  display: flex;
  position: absolute;
  top: 50px;
  left: 0;
  right: 300px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
}

.videosWrap {
  display: flex;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 4px 16px rgb(0 0 0 / 40%);
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 0px;
  left: 0px;
  flex-direction: row;
}

.Container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: inherit;
  flex-direction: row;

}

.LeftBarWrap {
  width: 60px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ef8585;
  vertical-align: top;
  justify-content: space-between;
  flex-direction: column;
  
}

.RightWrap {
  flex-direction: column;
  display: flex;
  position: fixed;
  top: 0;
  left: 60px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.LeftTopIconWrap {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.LogoIcon {
  position: relative;
  width: 100%;
  height: 60px; 
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.ImgIcon {
  position: relative;
  height: 60px; 
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.LeftBottomIconWrap {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.RoomTopBarContainer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #312b30;
  
}
.ImageContainer{
    width: 400px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 20px;
}

.disdplayAndListWrap {
  width: 100%;
  height: 100%;
  position: static;
  flex-direction: row;
  display: flex;
  vertical-align: top;

}


.ListWrap {
  width:300px;
  background-color: #ededed;
  vertical-align: top;
  flex-direction: column;
  display: flex;
  position: absolute;
  z-index: 3;
  right: 0 !important;
  bottom: 0;
  top:50px;
}
.UserListtWrap {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 64%;
  
}
.UserList {
  height: 30px;
  vertical-align: top;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border: solid 1px #ccc;
  background-color: #fff;
}
.rowContainer {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;

}
.text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #12161d;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  overflow: hidden;
}
