.App{
  display: flex;
  flex-direction: column;
  min-height: 800px;
  min-width: 800px;
  text-align: left;
  align-items: center;
  
}
body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 320px;
}


.Container {
  height: 100%;
  background-color: #000;
  flex-direction: row;

}

.LeftBarWrap {
  width: 60px;
  height: 100%;
  display: flex;
  position: static;
  top: 0;
  left: 0;
  background-color: #ef8585;
  vertical-align: top;
  justify-content: space-between;
  flex-direction: column;
  
}

.RightWrap {
  width:100%;
  height: 100%;
  background-color: #fff;
}
.LeftTopIconWrap {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.LogoIcon {
  position: relative;
  width: 100%;
  height: 60px; 
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.ImgIcon {
  position: relative;
  height: 60px; 
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.LeftBottomIconWrap {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}


.RoomTopBarContainer{
  width: 100%;
  height: 30px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #312b30;
}
.ImageContainer{
    width: 400px;
    height: 28px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 20px;
}
