.ModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalInner {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.friendModalWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Roboto;
}
.friendHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
  z-index: 1;
  font-weight: bold;
  margin-top: 30px;
}
.friendTapActive {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #ccc;
  border-right: hidden;
  background-color: #ffffff;
  color: black;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}
.friendTap {
  width: 100%;
  height: 40px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: solid 1px #ccc;
  border-right: hidden;
  background-color: #ffffff;
  color: #ccc;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}
.friendsWrap {
  width: 100%;
  display: flex;
  overflow: overlay;
  height: 418px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafafa;
}
.userWrap {
  vertical-align: top;
  flex-direction: row;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border: solid 1px #ccc;
  border-top: hidden;
}
.rowWrap {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
.pinkBtn {
  margin: 4px;
  border: 1px solid #ef8585;
  background-color: #ef8585;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  padding: 3px 18px;
  font-size: 13px;
  line-height: 25px;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}
.whiteBtn {
  margin: 4px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 3px 18px;
  background-color: #fff;
  font-size: 13px;
  line-height: 25px;
  cursor: pointer;
  color: #454648;
}
