.StudiesContainer {
  padding: 70px 20px 0;
  width: 100%;
  margin: 0 auto;
}
.StudiesHeader {
  position: relative;
  z-index: 3;
}
.StudiesHeaderTitle {
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  display: flex;
  font-size: 100px;
}

.StudiesHeaderNum {
  margin-top: 20px;
  font-size: 14px;
  color: #4f4f4f;
  line-height: 19px;
}
.StudiesTabWrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.StudiesTabListWrap {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.StudiesButtonActive {
  margin: 4px;
  border: 1px solid #ef7575;
  background-color: #ef8585;
  font-weight: 700;
  color: #fff;
  border-radius: 100px;
  padding: 3px 18px;
  font-size: 15px;
  line-height: 34px;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

.StudiesButton {
  margin: 4px;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 3px 18px;
  background-color: #fff;
  font-size: 15px;
  line-height: 34px;
  cursor: pointer;
  color: #454648;
}

.StudyCardWrap {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.Pagebutton {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
  color: #454648;
}

.PagebuttonActive {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 1px solid #f8991d;
  background-color: #f8ad1d;
  font-weight: 700;
  color: #fff;
  border-radius: 100px;
  font-size: 15px;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}
