.MainContainer {
  padding: 64px 0;
  border: solid 1px #ccc;
  background-color: #fafbfc;
  display: flex;
  align-items: center;
  width: 100%;
}
.ContentsContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.StudyHistoryWrap {
  width: 53%;
  flex-direction: column;
  margin-left: 10px;
}
.StudyHistoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
}
.cardWrap {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.StudyTimeWrap {
  flex-direction: column;
  flex: 1;
  min-width: 0;
  margin: 0 10px 0 30px;
  display: flex;
}
.StudyTimeHeader {
  display: flex;
  height: 50px;
  color: #333;
  margin-bottom: 10px;
  align-items: center;
}
.StudyTimeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border: solid 1px #ccc;
  border-radius: 5px;
  align-items: center;
  height: 250px;
  width: 100%;
}
.ColumnWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Line {
  background-color: #ccc;
  width: 100%;
  height: 1px;
}
.LinkContainer {
  max-width: 200px;
  height: 250px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-family: 'Roboto';
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.blackBox {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  font-family: Roboto;
  justify-content: center;
  background-color: #454648;
  display: flex;
  align-items: center;
}
.studyText {
  font-size: 17px;
  font-weight: bold;
  color: #fafafa;
  margin: 90px 20px;
  text-align: center;
  font-family: 'Roboto';
}

.TextBox {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
