.card-container {
  /* width : 230px;
	height: 260px;
	overFlow: hidden;
	border-radius: 10px; */
  /* width: calc(20% - 16px); */
  margin: 8px;
  height: auto;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 0px;
  text-align: left;
}
.card-container:hover {
  transform: scale(1, 1);
  /* box-shadow: 0px 0px 3px 0px; */
}
.card-container img {
  overflow: hidden;
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.card-content {
  margin: 3px;
  margin-top: 0.5rem;
}

.card-title {
  margin-bottom: 0.5rem;
  margin-bottom: 6px;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  color: #454648;
  font-family: Roboto;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  padding: 0.5rem;
  background-color: white;
  border: none;
}
.card-body {
  overflow: hidden;
}
.hashtagWrap {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.t {
  font-family: 'Roboto';
  margin-right: 5px;
  color: #aaa;
}
