.fc .fc-col-header-cell-cushion { /* needs to be same precedence */
    padding-top: 100px; /* an override! */
    padding-bottom: 5px; /* an override! */
}
/* .fc .fc-button-primary {
    background-color: var(--fc-button-bg-color, #fff)
}

.fc-button-bg-color {
    color: brown;
} */
.fc-right .fc-prev-button, .fc-right .fc-next-button{
    background-color: #b1d583;
    background-image: none;
}

/* 
<span class="fc-icon fc-icon-chevron-right"></span></button> */


/* override day number color and size */
.fc-day-number {
    font-size: 1.5em;
    color: #5c005c;
  }
  
/* override day title color and size */
.fc-day-header {
font-size: 1.5em;
color: #00b294;
}
  