.App {
  font-family: Roboto;
  text-align: center;
}


html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.Container {
  
  flex-direction: row;
  width:100%;
  font-family: Roboto;
  font-size: 14px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Roboto;
  font-size: 14px;
  flex-direction: row;
  margin: 0 auto;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #fafafa;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}



:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #ef8585;
  --fc-button-border-color: #ef8585;
  --fc-button-hover-bg-color: #ef5656;
  --fc-button-hover-border-color: #ef5656;
  --fc-button-active-bg-color: #ef5656;
  --fc-button-active-border-color: #ef5656;

  --fc-event-bg-color: #f8ad1d;
  --fc-event-border-color: #f8ad1d;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(235, 235, 235, 0.3);
  --fc-today-bg-color: rgba(55, 136, 216, 0.15);
  --fc-now-indicator-color: red;
}
